#option_btn QPushButton
{
	background-color: qlineargradient(spread:pad, x1:0, y1:0.505682, x2:1, y2:0.477, stop:0 rgba(32,226,215, 100), stop:1 rgba(249,254,165, 200));

	text-align: left;
	border: None;
	margin-bottom: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 5px;


}
#option_btn QPushButton:hover
{
		background-color: rgb(152,251,152);
}
#option_btn QPushButton:pressed
{
		padding-left: 10px;
		padding-top: 5px;
}